* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "navbar navbar" "sidebar main" "sidebar footer";
}
nav {
  top: 0;
  position: sticky;
  grid-area: navbar;
  background-color: red;
}
aside {
  height: calc(100vh - 18.4px);
  top: 18.4px;
  position: sticky;
  align-self: start;
  grid-area: sidebar;
  background-color: blue;
}
main {
  grid-area: main;
  background-color: yellow;
}
footer {
  grid-area: footer;
  background-color: pink;
}

@media(max-width: 800px){
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "navbar" "main" "footer";
  }
  aside {
    position: fixed;
    width: 300px;
    display: none;
  }
  .show {
    display: block;
  }
}